body {
    background-color: rgb(117, 106, 145);
}

header {
    color: rgb(24, 216, 158);
    padding: 0.5em;
    text-align: center;
    width: 100%;
}

form {
    color: rgb(15, 239, 255);
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 0.5em;
    text-align: center;
    width: 100%;
}